<!DOCTYPE html>
<html>
  <head>
    <title>HTML table from occupations.csv</title>
  </head>
  <body>
    <h1>HTML table from occupations.csv<h1>
    <h3> This site will pick a random occupation from the table below based on the percentage<h3>
    <h3>Team wecantdraw<h3>
    <h3> By Jionghao Wu and Alice Ni<h3>
    <h3> Random occupation: {{randomOccupation}}<h3>
    <table>
        <tr>
            <th colspan="2">Occupations</th>
        </tr>
      <tbody>
        <tr>
            <td>Job Class</td>
            <td>Percentages</td>
        </tr>
        {% for x in occupationsDict %}
        <tr>
          <td>{{x}}</td>
          <td>{{occupationsDict[x]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  </html>
