
body {
  background-color:#666;
  font-family: sans-serif;
}
h1 {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #bebebe;
  margin: 0px;
}
h2 {
  margin: 10px;
}
h3 {
  color: #000000;
  margin: 10px;
}
td {
  vertical-align: top;
  width: 85%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.side {
  float: left;
  width: 160px;
  height: 500px;
}
.footer{
  background-color: #5e5e5e;
  padding: 10px;
  text-align: right;
  color: #858585;
}
