{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> ERROR! </title>
    {% endblock %}
    <h1> Team Hotpot </h1>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <h1> {{ messages[0] }} </h1>
      <h1> {{ messages[1] }} </h1>
    {% endif %}
  {% endwith %}
  <form action = "/return">
    <input type = "submit" name = "sub2" value = "Return to homepage">
  </form>
{% endblock %}
{% block footer %}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {{super()}}
{% endblock %}
