{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> Home Page </title>
  {% endblock %}
  <h1> Team Hotpot </h1>
{% endblock %}
{% block content %}
  <form action = "/auth", method = "POST">
    Enter your username:
    <input type = "text" name = "username"> <br>
    Enter your password:
    <input type = "text" name = "password"> <br>
    <input type = "submit" name = "sub1" value = "login"> <br>
  </form>
{% endblock %}
{% block footer %}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {{super()}}
{% endblock %}
