{% extends "base.html" %}
{% block header %}
  {% block title %}
    <title> Welcome! </title>
  {% endblock %}
  <h1> Team Hotpot </h1>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <h1> {{ messages[0] }} </h1>
    {% endif %}
  {% endwith %}
  <h1> You are logged in </h1>
  <h1> Hi {{user}}!</h1>
  <form action = "/logout">
    <input type = "submit" name = "sub2" value = "logout">
  </form>
{% endblock %}
{% block footer %}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {{super()}}
{% endblock %}
