<!DOCTYPE HTML>
<html>
  <head>
    <title>
      APIs
    </title>
  </head>
  <body>
    <h2> Data found on 98.113.21.243</h2>
    <h4> Try looking at this ip with another app. You will find the data to be almost identical.</h4>


    <table style="width:100%" border="2">
      <tr>
        <th> Filed </th>
        <th> Data </th>
      </tr>
      <tr>
        <th> Country </th>
        <th> {{vals['country']}} </th>
      </tr>
      <tr>
        <th> Region </th>
        <th> {{vals['regionName']}} </th>
      </tr>
      <tr>
        <th> City </th>
        <th> {{vals['city']}} </th>
      </tr>
      <tr>
        <th> Zip Code </th>
        <th> {{vals['zip']}} </th>
      </tr>
      <tr>
        <th> Latitude </th>
        <th> {{vals['lat']}} </th>
      </tr>
      <tr>
        <th> Longitude </th>
        <th> {{vals['lon']}} </th>
      </tr>
      <tr>
        <th> Organization </th>
        <th> {{vals['org']}} </th>
      </tr>
      <tr>
        <th> Timezone </th>
        <th> {{vals['timezone']}} </th>
      </tr>
    </table>

    <h2> Heere is a random image with a piece of art related to farms at the Met, using the Met's API</h2>
    <img src= {{img}} alt="">

    <h2> here is the quote of the day from the Quotes API </h2>
    <h4> {{quote}}</h4>
    <h4> By: {{author}} </h4>

  </body>
</html>
